<p id="notice"><%= notice %></p>
<% content_for :title, 'Lyrics' %>
<h1>Lyrics</h1>

<table>
  <thead>
    <tr>
      <th>Song</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lyrics.each do |lyric| %>
      <tr>
        <td><%= lyric.song.title %></td>
        <td><%= truncate(lyric.content, length: 40) %></td>
        <td><%= link_to 'Show', lyric %></td>
        <td><%= link_to 'Edit', edit_lyric_path(lyric) %></td>
        <td><%= link_to 'Destroy', lyric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lyric', new_lyric_path %>
