<p id="notice"><%= notice %></p>
<% content_for :title, 'Lists' %>
<h3>Songs That Will Be Uploaded</h3>

<table id="songs" class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Year</th>
      <th>Rank</th>
      <th>Title</th>
      <th>Artist</th>
      <th>mp3</th>
      <th>code</th>
      <th>upload</th>
      <th>Publish</th>
      <th>S</th>
      <th>E</th>
      <th>D</th>
    </tr>
  </thead>

  <tbody>
    <% nbr_of_songs = 0 %>
    <% @songs.each do |song| %>
      <% nbr_of_songs = nbr_of_songs + 1 %>
      <tr>
        <td><%= song.year %></td>
        <td><%= song.rank %></td>
        <td><%= song.title %></td>
        <td><%= song.artist.name %></td>
        <td><%= song.mp3.present? %></td>
        <td><%= song.code.present? %></td>
        <td><%= song.uploaded %></td>

        <td><%= song.publish_date %></td>
        <td><%= link_to 'S', song, target: "_new" %></td>
        <td><%= link_to 'E', edit_song_path(song), target: "_new" %></td>
        <td><%= link_to 'D', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= 'Number of songs =' + nbr_of_songs.to_s %>
<br>
<%= link_to 'New Song', new_song_path %>
